<ion-view view-title="Rooms" hide-nav-bar="false">
    <ion-footer-bar class="">
    </ion-footer-bar>
    <ion-content class="">
        <div class="item range">
            <i class="">100 ft</i>
            <input type="range" min="100" max="264000" step="50" name="radius" ng-model="radius" ng-change="onInputChange(radius)" />

            <i>50 mi</i>

        </div>
        <p class="padding">Radius: {{radius}}</p>

        <div class="list card" ng-repeat="room in rooms" type="item-text-wrap" ng-click="goToRoom(room.Id, room.Name)">
            <a class="item item-divider">{{room.Name}}</a>
            <a class="item item-text-wrap">
                <p>Connected users: {{room.UserCount}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>